Source: listlike
Priority: optional
Maintainer: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>= 4.0.0), ghc6 (>= 6.8.2), ghc6 (<< 6.8.2-999), haskell-devscripts (>= 0.6.6), cpphs, libghc6-mtl-dev, libghc6-hunit-dev, libghc6-quickcheck-dev
Build-Depends-Indep: debhelper (>= 4.0.0), haddock, haskell-devscripts (>= 0.6.6), ghc6 (>= 6.8), cpphs, hugs, libhugs-mtl
Standards-Version: 3.6.2
Section: devel

Package: libghc6-listlike-dev
Section: devel
Architecture: any
Depends: ${haskell:Depends}, libghc6-mtl-dev
Suggests: listlike-doc
Description: Generic support for list-like structures in Haskell, GHC
 The ListLike module provides a common interface to the various Haskell
 types that are "list-like".  Predefined interfaces include standard
 Haskell lists, Arrays, ByteStrings, and lazy ByteStrings.  Custom
 types can easily be made ListLike instances as well.
 .
 ListLike also provides for String-like types, such as String and
 ByteString, for types that support I/O, and for types that can handle
 infinite lists.

Package: libhugs-listlike
Section: devel
Architecture: any
Depends: ${haskell:Depends}, libhugs-mtl
Suggests: listlike-doc
Description: Generic support for list-like structures in Haskell, Hugs
 The ListLike module provides a common interface to the various Haskell
 types that are "list-like".  Predefined interfaces include standard
 Haskell lists, Arrays, ByteStrings, and lazy ByteStrings.  Custom
 types can easily be made ListLike instances as well.
 .
 ListLike also provides for String-like types, such as String and
 ByteString, for types that support I/O, and for types that can handle
 infinite lists.

Package: listlike-doc
Section: doc
Architecture: all
Description: Generic support for list-like structures in Haskell, Documentation
 The ListLike module provides a common interface to the various Haskell
 types that are "list-like".  Predefined interfaces include standard
 Haskell lists, Arrays, ByteStrings, and lazy ByteStrings.  Custom
 types can easily be made ListLike instances as well.
 .
 ListLike also provides for String-like types, such as String and
 ByteString, for types that support I/O, and for types that can handle
 infinite lists.

